<form [formGroup] = "msgform" (ngSubmit) = "sendData()">   
  <div>
    <label for="messege">Message</label>   
    <input type="text" name = "messege" id= "messege" class= "form-control" formControlName="message">
  </div>

  <div>
      <label for="user">User id</label>   
      <input type="text" name = "user" id= "user" class= "form-control" formControlName="user">

  </div>

    <input type="submit" value="Send the message" class = "btn btn-primary">



</form>