<form [formGroup] = "loginform" (ngSubmit) = "login()">   
  <div>
    <label for="user">User</label>   
    <input type="text" name = "user" id= "user" class= "form-control" formControlName="user">
  </div>

  <div>
      <label for="password">Password</label>   
      <input type="text" name = "password" id= "password" class= "form-control" formControlName="password">

  </div>
    <div *ngIf = "invalid" class="alert alert-danger"> 
      invalid username or password
    </div>
    <input type="submit" value="Login" class = "btn btn-primary">



</form>

<div>

  <button (click)= "logout()">logOut </button>
  
</div>