<messegesForm (addMessage)="optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></messegesForm>  <!-- המידע שהועבר דרך האירוע יכנס דרך משתנה שנקרא דולר איוונט -->
<h2>
  List of messages
</h2>
<ul class= "list-group">
  <li class="list-group-item" *ngFor = "let key of messagesKeys">
    <button class="btn btn-outline-primary" (click)="deleteMessage(key)"> Delete </button>
    <a [routerLink] = "['/message',key]" > {{'message number' + key + ' ' + messages[key].body}}</a>
  </li> 
</ul>